{% extends 'course/modules/base.html' %}

{% block page-title-inner %}Modules <small>(<a href="{% url modules_module_list %}">view all</a>)</small>{% endblock page-title-inner %}

{% block header-block %}{% endblock header-block %}

{% block content-block %}
    {% for module in object_list %}
	<div class="block">
		<h3><a href="{{ module.get_absolute_url }}">{{ module.code }}: {{ module.name }}, {{ module.get_semester_display }} {{ module.get_year_display }}</a></h3>
	</div>
    {% endfor %}
{% endblock content-block %}
