<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Errror &bull; MyUni</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="en" />
		
		<link rel="stylesheet" type="text/css" media="screen, projection" href="/media/css/style.css" />
	</head>
	<body>
		<div id="navigation-container">
			<div id="navigation">
				<h1 id="masthead"><span>Computer Science</span></h1>
			</div>
		</div>
		<div id="content-container">
			<div id="content">
				<h2 class="getting-started">Error</h2>
				
				<div class="block">
					Oh dear!
				</div>
			</div>
		</div>
		
		<div id="footer-container">
			<div id="footer">
			
			</div>
		</div>
	</body>
</html>
