{% extends 'modules/base.html' %}

{% block title %}Modules &bull; {{block.super}}{% endblock title %}

{% block page-title-inner %}Modules{% endblock page-title-inner %}

{% block header-block %}{% endblock header-block %}

{% block content-block %}
    {% for module in object_list %}
	<div class="block">
		<h3><a href="{{ module.get_absolute_url }}">{{ module.code }}: {{ module.name }}, {{ module.get_semester_display|default:"Full-year" }} {{ module.get_year_display }}</a></h3>
	</div>
    {% endfor %}
{% endblock content-block %}
